.list-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  height: 100%;
  width: auto;
}

.list-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}
