.table-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  gap: 20px;
  justify-content: space-between;
  height: 100%;
  width: auto;
}

.conatiner-data {
  display: flex;
  justify-content: space-between;
  margin-right: 8px;
  margin-top: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.table-head {
  background-color: #4444445e;
}
